<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:t="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>个人信息</title>
<link rel="icon" th:href="@{/assets/favicon.ico}" type="image/ico">
<meta name="author" content="yinqi">
  <link rel="stylesheet" type="text/css" th:href="@{/lightYear/css/materialdesignicons.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lightYear/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lightYear/css/animate.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lightYear/css/style.min.css}">
  <script type="text/javascript">
    var url = window.location.href;
    var baseUrl = ''
    var pathname = window.location.pathname;
    if (pathname === '/') {
      baseUrl = url; // URL 中不包含路径部分
    } else {
      baseUrl = url.substring(0, url.indexOf(pathname)); // 提取基础 URL 部分
    }
  </script>
</head>
  
<body>
<div class="container-fluid p-t-15">

  <div class="modal fade" id="exampleModalChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalChangeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalChangeTitle"></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="开通1月======>支付 10  USDT"  disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="btnMonth" type="button">购买</button>
              </div>
            </div>

            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="开通3月======>支付 25  USDT" disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="btnQuarter" type="button">购买</button>
              </div>
            </div>

            <div class="form-group input-group">
              <input type="text" class="form-control" placeholder="开通1年======>支付 80  USDT" disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="btnYear" type="button">购买</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnClose" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalChange">套餐续费</button></br>
              <p th:class="${cName}" th:text=" '到期时间：' + ${expiredTime}"></p>
              <p class="mt-1 mb-0">新注册商户将获得7天使用时长，若需长期使用请及时续费！</p>
            </div>
          </div>
          <hr>
          <form action="/updateUserInfo" method="post" class="update-user-form">
            <div class="form-group">
              <label for="merchantName">用户名</label>
              <input type="text" class="form-control" name="merchantName" id="merchantName" th:value="${merchantName}" disabled="disabled">
            </div>

            <div class="form-group">
              <label for="merchantKey">商户私钥</label>
              <input type="text" class="form-control" name="merchantKey" id="merchantKey" th:value="${merchantKey}" required disabled="disabled">
              <small id="merchantKeyHelp" class="form-text text-muted">请务必妥善保管你的接口密钥。由密钥泄漏导致的资产受损平台概不负责。</small>
            </div>

            <div class="form-group">
              <label for="address">钱包地址</label>
              <input type="text" class="form-control" name="address" id="address" th:value="${address}" required>
            </div>

            <div class="form-group">
              <label for="notifyUrl">回调地址</label>
              <input required type="text" class="form-control" name="notifyUrl" id="notifyUrl" placeholder="输入以 http 或 https 开头的链接类型" th:value="${notifyUrl}">
              <small id="notifyUrlHelp" class="form-text text-muted">请确保输入的回调地址可公网访问。</small>
            </div>

            <div class="form-group">
              <label>TRON网络</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="mainNet" name="netUrl" class="custom-control-input" value="true" th:checked="${isMainNet}" required>
                <label class="custom-control-label" for="mainNet" style="cursor: pointer">主网</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="nileNet" name="netUrl" class="custom-control-input" value="false"  th:checked="${!isMainNet}" required>
                <label class="custom-control-label" for="nileNet" style="cursor: pointer">Nile测试网</label>
              </div>
              <small id="netUrlHelp" class="form-text text-muted">正式使用请选择主网，Nile仅供开发调试使用。</small>
            </div>

            <button type="submit" id="saveUserinfo" class="btn btn-primary">
              保存
            </button>
          </form>

        </div>
      </div>
    </div>

  </div>
  
</div>
<script type="text/javascript" th:src="@{/lightYear/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lightYear/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/lightYear/js/main.min.js}"></script>
<script type="text/javascript" th:src="@{/lightYear/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/lightYear/js/bootstrap-notify.min.js}"></script>
<script type="text/javascript" th:src="@{/lightYear/js/lyear-loading.js}"></script>
<script type="text/javascript">
  function showNotify($msg, $type, $delay, $icon, $from, $align) {
    $type  = $type || 'info';
    $delay = $delay || 1000;
    $from  = $from || 'top';
    $align = $align || 'center';
    $enter = $type === 'danger' ? 'animated shake' : 'animated fadeInUp';
    if ($type === 'success') {
      $icon = 'mdi mdi-check'
    }else if ($type === 'danger') {
      $icon = 'mdi mdi-alert'
    }else if ($type === 'info') {
      $icon = 'mdi mdi-information'
    }else {
      $icon = 'mdi mdi-alert-circle'
    }
    jQuery.notify({
              icon: $icon,
              message: $msg
            },
            {
              element: 'body',
              type: $type,
              allow_dismiss: true,
              newest_on_top: true,
              showProgressbar: false,
              placement: {
                from: $from,
                align: $align
              },
              offset: 20,
              spacing: 10,
              z_index: 10800,
              delay: $delay,
              animate: {
                enter: $enter,
                exit: 'animated fadeOutDown'
              }
            });
  }
  function renewal(type) {
    const loader = $('body').lyearloading({
      opacity: 0.2,
      spinnerSize: 'lg'
    });
    //执行 Ajax 后重载
    $.ajax({
      type: 'GET',
      url: baseUrl + '/api/renewal',
      dataType: 'json',
      data: {type: type},
      traditional: true,
      success: function(res) {
        if (res.code === 200) {
          showNotify("订单拉取成功",'success')
          setTimeout(function () {
            window.open(res.data,"_blank")
            // 点击id为"myButton"的按钮
            $("#btnClose").trigger("click");
          },500)

        }else {
          showNotify(res.msg,'danger')
        }
        loader.destroy()
      },
      error: function (res) {
        showNotify(res.msg,'danger')
        loader.destroy()
      }
    });
  }
  // 给 ID 为 exampleModalChange 的模态框添加 show.bs.modal 事件监听器
  $('#exampleModalChange').on('show.bs.modal', function (event) {
    // 获取触发事件的按钮元素
    const button = $(event.relatedTarget);
    // 获取模态框元素
    const modal = $(this);
    // 设置模态框标题
    modal.find('.modal-title').text('套餐续费');
    // 清空模态框表单中的输入框内容
    // modal.find('.modal-body input').val();
  })

  $('#btnMonth, #btnQuarter, #btnYear').on('click', function (){
// 获取当前触发事件的按钮元素
    const buttonId = $(this).attr('id');
    // 根据按钮 ID 执行对应的逻辑
    if (buttonId === 'btnMonth') {
      renewal("month")
    } else if (buttonId === 'btnQuarter') {
      renewal("quarter")
    }else {
      renewal("year")
    }
  })

  $(function() {
    let formData = {merchantKey: undefined,address:undefined,notifyUrl:undefined,isMainNet:undefined}
    // 单选按钮事件监听
    $('input[name="netUrl"]').on('click',function (){
      formData.isMainNet = $(this).val();
    })

    var load
    // 监听表单提交事件
    $('.update-user-form').submit(function(event) {
      load = $('body').lyearloading({
        opacity: 0.2,
        spinnerSize: 'lg',
        spinnerText: '后台处理中，请稍后...',
        textColorClass: 'text-info',
        spinnerColorClass: 'text-info'
      });
      event.preventDefault(); // 阻止默认行为
      formData.merchantKey = $('input[name="merchantKey"]').val();
      formData.address = $('input[name="address"]').val();
      formData.notifyUrl = $('input[name="notifyUrl"]').val();
      formData.isMainNet = $('input[name="netUrl"]:checked').val();
      // 发送 AJAX 请求
      //请求接口
      $.ajax({
        url: baseUrl + '/api/updateUserInfo' //此处仅为模拟接口，实际使用请改成真实接口
        ,method: 'POST'
        ,contentType: 'application/json'
        ,dataType: 'json'
        ,data: JSON.stringify(formData),
        success: function (res) {
          if (res.code === 200) {
            $.notify({
              // options
              icon:'mdi mdi-check',
              message: res.msg,
            },{
              // settings
              type: 'success',
              placement: {
                from:'top',
                align:'center'
              },
              animate: {
                enter: 'animated fadeInDown', // 入场动画，这里使用 fadeInDown
                exit: 'animated fadeInDown' // 离场动画，这里使用 fadeOutUp
              },
              allow_dismiss: false, // 禁止用户关闭通知,
              onShow: function () {

              },
            });
            load.destroy()
          }else {
            $.notify({
              // options
              icon:'mdi mdi-alert',
              message: res.msg,
            },{
              // settings
              type: 'danger',
              placement: {
                from:'top',
                align:'center'
              },
              animate: {
                enter: 'animated fadeInDown', // 入场动画，这里使用 fadeInDown
                exit: 'animated fadeInDown' // 离场动画，这里使用 fadeOutUp
              },
              allow_dismiss: false, // 禁止用户关闭通知
            });
            load.destroy()
          }
        },
        error: function (res) {
          location.reload()
        }
      });
    });
  });
</script>
</body>
</html>